*{

    padding: 0;
    box-sizing: border-box;
}
body,html {
    text-align: center;
    width: 100%;
    height: 100%;
}
header{
    box-sizing: border-box;
}
nav {width: 100%!important;}

.outer{
    margin: 10px;
    width: 551px;
    height: 551px;
    overflow: hidden;
}
.centerhead{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}
.center{
    display: block;
}
#navbarCross{
    background-color: #e3f2fd;
}
#cross {
}
.header {
    padding: 10px;
    text-align: center;
    background: wheat;
    color: black;
    font-size: 20px;
}
body {
    margin: 0;
}


@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background:#e3f2fd;
}



/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

article {
    width: 551px;
    height: 551px;
}
.krizovatka{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka1.svg");
}
.krizovatka2{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka2.svg");
}
.krizovatka3{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka3.svg");
}
.krizovatka4{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka4.svg");
}
.krizovatka5{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka5.svg");
}
.krizovatka6{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka6.svg");
}
.krizovatka7{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka7.svg");
}
.krizovatka8{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka8.svg");
}
.krizovatka9{
     background-image: url("../Crossroads/CrossroadsBackground/krizovatka9.svg");
 }
.krizovatka10{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka10.svg");
}
.krizovatka11{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka11.svg");
}
.krizovatka12{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka12.png");
    background-size: 551px 551px;
}
.krizovatka13{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka13.svg");
}
.krizovatka14{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka14.svg");
}
.krizovatka15{
    background-image: url("../Crossroads/CrossroadsBackground/krizovatka15.svg");
}

.greenCar{
    width: 100%;
    height: 100%;
}
.carGreen{
    top: -150px;
    left: 30px;
}
.carGreen2{
    top: -250px;
    left: 30px;
    transform: rotate(-180deg);
}
.carGreen3{
    top: -70px;
    left: -50px;
    transform: rotate(-90deg);
}
.carGreen6{
    top: -80px;
    left: 40px;
    transform: rotate(-90deg);
}
.carGreen7{
    top: 20px;
    left: 30px;
    transform: rotate(-90deg);
}
.carGreen8{
    top: -220px;
    left: 50px;
    transform: rotate(-90deg);
}
.carGreen9{
    top: -110px;
    left: 105px;
    transform: rotate(-90deg);
    width: 90%;
    height: auto;
}
.carGreen10{
    top: 35px;
    left: 50px;
    transform: rotate(-90deg);
}
.carGreen11{
    top: 140px;
    left: 20px;
}
.carGreen12{
    top: -80px;
    left: 40px;
    transform: rotate(-90deg);
}
.carGreen13{
    top: 90px;
    left: -20px;
    transform: rotate(-90deg);
}
.carGreen14{
    top: -160px;
    left: 0;
}
.carGreen15{
    top: -220px;
    left: 50px;
    transform: rotate(-90deg);
}

.blackCar{
    width: 50%;
    height: 50%;
}
.carBlack1{
    top: 380px;
    left: 285px;
    width: 25%;
    height: 50%;
}
.carBlack2{
    top: -130px;
    left: 90px;
    transform: rotate(180deg);
    width: 25%;
    height: 50%;
}
.carBlack8{
    top: -120px;
    left: 120px;
    transform: rotate(180deg);
    width: 25%;
    height: 50%;
}
.carBlack14{
    top: 0;
    left: 500px;
    transform: rotate(270deg);
    width: 25%;
    height: 50%;
}
.carBlack15{
    top: 60px;
    left: 450px;
    transform: rotate(-90deg);
    width: 25%;
    height: 50%;
}

.yellowCar{
    width: 90%;
    height: 90%;
}
.carYellow1{
    top: -260px;
    left: -280px;
    transform: rotate(180deg);
}
.carYellow2{
    top: 130px;
    left: 325px;
}
.carYellow6{
    top: 170px;
    left: -340px;
    transform: rotate(145deg);
}
.carYellow7{
    top: 430px;
    left: -170px;
    transform: rotate(+90deg);
}
.carYellow8{
    top: -360px;
    left:180px;
    transform: rotate(-90deg);
}
.carYellow9{
    top: -220px;
    left:-220px;
    transform: rotate(-180deg);
    width: 70%;
    height: auto;
}
.carYellow10{
    top: 410px;
    left:-190px;
    transform: rotate(90deg);
}

.carYellow12{
    top: 170px;
    left: -340px;
    transform: rotate(145deg);
}
.carYellow14{
    top: 90px;
    left: 245px;
}
.carYellow15{
    top: 200px;
    left: -185px;
    transform: rotate(90deg);
}

#tram{
    width: 50px;
}
#tramB{
    width: 50px;
}
.tram3{
    top: 280px;
    left: 130px;
    width: 80px;
}
.tram9{
    top: 305px;
    left: 245px;
    width: 50px;
}
#pedestrian1,#pedestrian2{
    width: 70%;
    height: 70%;

}
.pedestrian1{
    top: 150px;
    left: 320px;
    width: 40px;

}
.pedestrian2{
    top: 350px;
    left: 360px;
    width: 40px;
    position: absolute;
}
.pedestrian3{
    top: 280px;
    left: 460px;
    width: 40px;
}
#cycle{
    width: 70%;
    height: 70%;
}
.cycle11{
    top: 280px;
    left: 405px;
    width: 50px;
    height: 120px;
}

.cycle13{
    top: 390px;
    left: 295px;
    width: 50px;
    height: 120px;
}
#leftArrow{
    margin-left: 10px;
    margin-right: 3px;
    width: 40px;
    display: none;
    overflow: auto;
    float:left;

}
#rightArrow{
    margin-left: 10px;
    left: 510px;
    position: absolute;
    width: 40px;
    display: none;
    float:right;
}
.blackLight{
    top: -379px;
    left: 119px;
}
.blackLight2{
    top:-383px;
    left: 451px;
}
.blackLight3{
    top:-91px;
    left:76px;
}
.blackLight4{
    top:-79px;
    left:295px;
}
.blackLight15{
    top: -128px;
    left: 381px;
}
.blackLight16{
    top: -353px;
    left: 421px;
}
.blackLight17{
    top: -124px;
    left: 108px;
}
.blackLight18{
    top: -349px;
    left: 150px;
}
.textleft{
    width: 600px;
    height: 600px;
}
#InfoAlert{
    color: black;
    display: none;
    float: right;
    box-sizing: border-box;
    left: 560px;
    position: absolute;
    width: 700px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    top:0;
    text-align: center;
}

#infoImg{
    margin: 10px;
    height:400px;
    width:600px;
}
#infoImg2{
    margin: 10px;
    height:250px;
    width:300px;
}

#blackLight, #blackLight2, #blackLight3,#blackLight4,
#greenLight,#greenLight2,#greenLight4,
#redLight,#redLight2{
    width: 21px;
    display: none;
    position: absolute;
}
.greenLight{
    top: -426px;
    left: 119px;
}
.greenLight4{
    top:-33px;
    left: 295px;
}
.greenLight15{
    top: -82px;
    left: 381px;
}
.greenLight16{
    top:-395px;
    left: 150px;
}
.redLight{
    top:-91px;
    left:122px;
}
.redLight2{
    top:-383px;
    left:405px;
}
.redLight15{
    top:-353px;
    left:375px;
}
.redLight16{
    top:-124px;
    left: 155px;
}
#rightlog{
    display: none;
    position: relative;
    width: 551px;
    margin-top: 45px;
    margin-left: 10px;
    margin-bottom: 5px;
    overflow: auto;
    text-align: center;
}
#wronglog{
    display: none;
    position: relative;
    width: 551px;
    margin: auto 75% auto auto;
    margin-left: 10px;
    overflow: auto;
    text-align: center;

}
#demoCrossroad{
    display: none;
    box-sizing: border-box;
    margin: 3px;
    text-align: center;
    overflow: auto;

}
#reset{
    display: none;
    margin: 3px;
    float: left;
    box-sizing: border-box;
    overflow: auto;
}

button.btn:link{
    color: white;
}

button.btn:visited{
    color: white;
}
button.btn:hover{
    color: white;
}
button.btn:active{
     color: white;

 }
button.btn:focus{
    color: white;

}

.autoWhite1{
    top: 10px;
    left: 310px;
}
#logo-home{
    width:32px;
    height:32px;
    margin-top: 0.6em;
    margin-right: 0.5em;
    margin-left: 0.5em;

    float:left;
}

div{
    position: relative;
}

#svgGreenCar{
    height: 68px;
    width: 137px;
}

#svgYellowCar{
    height: 157px;
    width: 71px;
}

#svgTram{
    width: 50px;
}
