header{color:black;text-align: center;}

body {
    margin: 0;
    color: #000;
    background-color: #fff;
}

#checkList th, #checkList td{
    border: 1px solid black;
    width: 5em;
}
.newRow{
    display: block;
}
.navbar{
    display: none;
}
#popupForm{
    display: none;
}
#play{display: none;}
.table{
    border: none;
    text-decoration: none;
}

#table table,#table tr, #table th,#table td{
    border: none;
}

.bunkaTD{
    border:none;
    height: 1em;
    text-align: left;
}
.bunkaTH{
    border: none;
    text-align: center;
    padding-bottom: 4px;
    width: 1.8em;
}
address table{
    font-style:normal;
    margin: 0;
    width:100%!important;
}
#checkList{
    width: 100%;
}
#table{
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    padding-top: 1%;
}
#team{
    margin-top: 1%;
    align-content: center;
}
#nameday{
    display: none;
}

.contact{
    width: 16px;
    height: 16px;
}

#top{
    display: none;
}