*{

    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    width: 100%;
    height: 100%;

}
.outer{
    margin: 10px;
    width: 851px;
    height: 851px;
    overflow: hidden;
}
/*tu sa aj ja niekedy stracam, treba kazde auto na kazdej krizovatke definovat jeho prvotne postavenie,
potom sa tu aj definuju krizovatky obrazky. */

.krizovatka{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka_bez_nicoho.png");
}
.krizovatka2{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka2 .svg");
}
.krizovatka3{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka3.svg");
}
.krizovatka4{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka4.svg");
}
.krizovatka5{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka5.svg");
}
.krizovatka6{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka6.svg");
}
.krizovatka7{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka7.svg");
}
.krizovatka8{
    width: 851px;
    height: 851px;
    background-image: url("krizovatka8.svg");
}
.krizovatka9{
     width: 851px;
     height: 851px;
     background-image: url("krizovatka9.svg");
 }

/*tu zacinaju auta napr radsej neotvaraj je zelene a na kazdu krizovatku sa definuje poloha. Niekde su rovnake ako napr
    na krizovatke s elektrickou (jedna krizovatka na 3 sposoby) tak tam nechavam tu istu polohu*/
.radsej_neotvaraj4{
    top: 280px;
    left: 400px;
    transform: rotate(-90deg);
    width: 180px;
}
.radsej_neotvaraj3{
    top: 80px;
    left: 275px;
    transform: rotate(-90deg);
    width: 180px;
}
.radsej_neotvaraj2{
    top: -170px;
    left: 650px;
    transform: rotate(-180deg);
    width: 180px;
}
.radsej_neotvaraj{
    top: 60px;
    left: 90px;
    width: 180px;
}
.autoBlack1{
    top: 580px;
    left: 445px;
    width: 103px;
}
.autoBlack2{
    top: -10px;
    left: 270px;
    width: 80px;
    transform: rotate(180deg);
}
.autoZlt6{
    top: 30px;
    left: 100px;
    width: 80px;
    transform: rotate(145deg);
}
.autoZlt2{
    top: 430px;
    left: 505px;
    width: 100px;
}
.autoZlt1{
    top: -120px;
    left: 315px;
    width: 80px;
    transform: rotate(180deg);
}
.tram3{
    top: 360px;
    left: 208px;
    width: 80px;
}


/*toto si uz nevsimajte, tu su smerovky cez CSS a byvale pohyby cez CSS*/

.autoWhite1{
    top: 10px;
    left: 310px;
    /*webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
}
#rIGHT{
    /*animation: blink 1s linear infinite;*/
    visibility: hidden;
}
#LEFT{
    /*animation: blink 1s linear infinite;*/
    visibility: hidden;
}
@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#layer1{
    /*animation: mov 7s 2;*/
    /*animation-direction: alternate;*/
}
div{

    position: relative;
    animation: move 5s;
    animation-iteration-count: revert;
    animation-timing-function: linear;
    animation-direction: alternate;
    /*animation-direction: alternate;*/

    /*-webkit-transition: all 600ms cubic-bezier(0.175, 0.295, 0.830, 0.645);*/
    /*-moz-transition: all 600ms cubic-bezier(0.175, 0.295, 0.830, 0.645);*/
    /*-o-transition: all 600ms cubic-bezier(0.175, 0.295, 0.830, 0.645);*/
    /*transition: all 600ms cubic-bezier(0.175, 0.295, 0.830, 0.645); !* custom *!*/

}

@keyframes move {
    /*najprv sme to pracovali v CSS ale nakoniec sme nasli lepsi sposob cez zelenu ponozku*/
    /*from {top: 140px; left: 270px; }*/
    /*15%{top: 180px; left: 270px;}*/
    /*20% {top: 220px; left: 270px;transform: rotate(90deg);}*/
    /*25% {top: 260px; left: 270px;transform: rotate(90deg);}*/
    /*30%{ top: 300px; left: 270px;transform: rotate(90deg);}*/
    /*35%{ top: 340px; left: 270px;transform: rotate(80deg);}*/
    /*40% {top: 380px; left: 290px;transform: rotate(60deg);}*/
    /*45% {top: 420px; left: 330px;transform: rotate(40deg);}*/
    /*50%{top: 430px; left: 380px;transform: rotate(20deg);}*/
    /*55%{top: 440px; left: 430px;transform: rotate(10deg);}*/
    /*60%{top: 450px; left: 470px;transform: rotate(0deg);}*/
    /*to {top: 450px; left: 520px;transform: rotate(0deg);}*/





   /*from  {top: 0; left: 0%;transform: rotate(90deg) }*/
   /* 25%   {top: 0; left: 10%; transform:  rotate(180deg)}*/
   /* 40%   {transform: rotate(90deg)}*/
   /* 50%   {top: 10%; left: 10%;}*/
   /* 70%   {transform: rotate(90deg)}*/
   /* 75%   {top: 10%; left: 0px;}*/
   /* 90%   {transform: rotate(90deg)}*/
   /*to {top: 0px; left: 0px; transform: rotate(90deg) }*/

    /*0% { left: 0px; top: 0%; transform: translate(0%, 0%) ;}*/
    /*25% { left: 0px; top: 100%; transform: translate(0%, 100%)  ;}*/
    /*35% { left: 0px; top: 100%; transform: translate(0%, 100%)  rotate(90deg);}*/
    /*50% { left: 100%; top: 100%; transform: translate(100%,100%);}*/
    /*55% { left: 100%; top: 100%; transform: rotate(90deg);}*/
    /*75% { left: 100%; top: 0%; transform: translate(100%, 0%)  ;}*/
    /*80% {left: 100%; top: 0%; transform:  rotate(90deg);}*/
    /*100% { left: 0px; top: 0%; transform: translate(0%, 0%) ;}*/

    /*0%{ transform: translate(100px)}*/
    /*75%{ transform: translate(300px)}*/
    /*100%{transform: translate(0px)}*/

    /*0%{ left: 0px; top: 0px;}*/
    /*25%{  left: 1000px; top: 0px;}*/
    /*50%{ left: 1000px; top: 1000px;}*/
    /*75%{ left: 0px; top: 1000px;}*/
    /*100%{left: 0px; top: 0px;}*/
}