html, body {
    height: 100%;
    width: 100%;
}

/*SKÚŠKA TABUĽKY S KONTAKTMI*/
th,td{
    border: 1px solid black;
    width: 5em;
}

.bunkaTD{
    border:none;
    height: 2em;
    text-align: left;
}
.bunkaTH{
    border: none;
    text-align: center;
    padding-bottom: 4px;
    width: 1.5em;
}
address table{
    border-spacing: 0.4em;
    font-style:normal;
    margin: 0 2.5em 0.8em 0.5em;
}
.contact {
    width: 16px;
    height: 16px;
}
hr .isolationContact{
    border-top: none;
}